
<style>
* {
  
}

.outsideBox {
  margin: 50px;
  width: 720px;
  background-color: #aaaaaa;
}

.display {
  margin: 50px;
  padding: 10px;
  text-align: right;
  border: 5px solid #000000;
  border-radius: 5px;
  background-color: #bbff00;
  font-size: 48px;
  font-family: monospace;
}

.button {
    margin: 50px;
  padding: 25px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  width: 120px;
  font-size: 24px;
  font-family: monospace;
  font=weight: bold;
}


.button2 {
    margin: 50px;
  padding: 25px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: 999999;
  width: 120px;
  font-size: 24px;
}
</stlye>
