
<style>
* {
  
}

.outsideBox {
  margin: 50px;
  width: 720px;
  background-color: #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  border: 2px solid #000000;
}

.display {
  margin: 50px 50px 12px 50px;
  padding: 10px;
  text-align: right;
  border: 5px solid #000000;
  border-radius: 3px;
  background-color: #bbff00;
  font-size: 48px;
  font-family: monospace;
}

.button {
    margin: 12px 50px;
  padding: 25px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  width: 120px;
  font-size: 24px;
  font-family: monospace;
  font=weight: bold;
  box-shadow: 0 6px #999;
}

.small {
    margin: 12px 50px;
  padding: 25px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  width: 120px;
  font-size: 12px;
  font-family: monospace;
  font=weight: bold;
  box-shadow: 0 6px #999;
}

.button2 {
    margin: 12px 50px;
  padding: 25px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #cccccc;
  width: 120px;
  font-size: 24px;
  box-shadow: 0 6px #999;
}
</stlye>
